# Python
__pycache__/
*.py[cod]
*$py.class
*.log
*.log.*
.venv/
env/
venv/
ENV/

# VS Code
.vscode/

# Project Directories
logs/
DebugLogs/
Recordings/
TestRecordings/
temp/

# User Data
cookies.pkl
config_local.py
user_settings.json

# Media Files
*.flv
*.mp4
*.ts

# System Files
.DS_Store
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
